/*  phpBB3 Style Sheet
    --------------------------------------------------------------
	Style name:			PBWoW 3 The Burning Crusade
	Based on style:		PBWoW 3
	Original author:	PayBas ( http://pbwow.com/ )
    --------------------------------------------------------------
*/
@import url("common.css?v=3.2");
@import url("colours.css?v=3.2");

body.pbwow3 #logo, body.pbwow3 .logo {
	margin-top: 15px;
	background: url("./images/logo.png") no-repeat 50% 0;
	width: 280px;
	height: 130px;
	background-size: 100% 100%;
}

body.pbwow3 #page-body:before {
	box-shadow: 0 0 12px 6px #000000b3;
	display: inherit;
}

body.pbwow3 #page-body {
	background-color: rgba(0,0,0,0.75);
}

#video-element {
	background-image: none;
	position: absolute;
	top: 160px;
	left: 427px;
}

/* Media queries
-------------------------------------------------------------- */

@media screen and (max-width: 859px), only screen and (max-device-width: 859px) {
	body.pbwow3 #logo, body.pbwow3 .logo {
		width: 224px;
		height: 104px;
		margin-top: 10px;
	}
}

@media only screen and (max-width: 999px), only screen and (max-device-width: 999px) {
	body.pbwow3 {
		background-image: url("./images/bg-small.jpg");
		background-position: 0 0;
	}

	.headerbar {
		min-height: 195px;
		-webkit-transition-property: width height background-color font-size left top color;
		transition-delay: 0.3s, 4ms;
		-webkit-transition-timing-function: linear;
	}
}

