/* Button Styles
---------------------------------------- */

.button {
    border: 1px;
    border-radius: 3px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    height: auto;
    line-height: 28px;
    padding: 0 12px;
    text-transform: uppercase;
    transition: all 0.2s;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/
}

/* Posting page styles
----------------------------------------*/

/* Poster contact icons
----------------------------------------*/

/* Post control buttons
--------------------------------------------- */

/*  wip */

/*
.post-buttons .icon-button {
    background: none !important;
    border: none;
    box-shadow: none !important;
    line-height: inherit;
    padding: 0 3px;
    height: auto;
    width: auto;
}

.post-buttons .icon-button:before {
    font-family: FontAwesome;
    text-shadow: 0 0 5px #000;
    font-size: 1.3em;
    line-height: inherit;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.post-buttons .icon-button:hover:before {
    color: #FFF;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.post-buttons .dropdown li a:before {
    content: "";
    display: none;
}
*/

/* Deprecated as of version 3.2
-------------------------------------------------*/
/*
.small-icon {
    background: none !important;
    padding: 0;
    position: relative;
}

.small-icon > a {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.small-icon > a:before,
#top-bar .small-icon:before,
.profile-context .user-icons a:before {
    display: inline-block;
    font-family: FontAwesome;
    color: #888;
    text-shadow: 0 0 5px #000;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: inherit;
    text-decoration: none;
    padding-right: 3px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.small-icon > a:hover:before {
    color: #FFF;
    text-shadow: 0 0 16px #009CFF;
}


.button:hover,
.button:active,
.dropdown-visible .dropdown-select,
.dropdown-visible .dropdown-select:hover,
.nojs .dropdown-container:hover .dropdown-select {
    background-color: #37dfff;
    background-image: linear-gradient(to bottom, #37dfff 0%, #1041e2 100%);
    border-color: #238eff;
    color: #FFF;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.5), inset 0 1px 3px 0 rgba(255, 255, 255, 0.8);
}

.icon-button:before {
    background: none;
    content: none;
    height: auto;
    width: auto;
}

.icon-button:after,
.dropdown-select:before,
.dropdown-select:after {
    background: none;
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    margin: 0 0 0 5px;
    right: auto;
    left: auto;
    top: auto;
    float: none;
    font-family: FontAwesome;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: inherit;
    text-decoration: none;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-button.dropdown-select {
    font-size: 0;
    padding: 0 5px 0 8px;
}

.icon-button.dropdown-select:before {
    margin: 0 3px 0 1px;
    width: auto;
    height: auto;
}




#top-bar .small-icon:before,
#top-bar .small-icon.link > a:before {
    color: inherit;
    padding-right: 5px;
}

/* Profile & navigation icons */
.contact-icon { background-image: url("./images/icons/icons_contact.png"); }

.profile-context .user-icons a:before {
    display: none;
    font-size: 16px;
}
