/*
--------------------------------------------------------------
Colours and backgrounds for common.css
-------------------------------------------------------------- */

html, body {
	color: #CCCCCC;
}

h1 {
    color: #000;
}

h2 {
    color: #F3E6D0;
}

h2.solo { margin-bottom: 0.5em; }

h3 {
    border-bottom: 1px solid #444;
    color: #888;
}

.pm .postbody h3.first {
    color: #FFB019;
    font-size: 1.6em;
}

hr {
    border-color: #7C7C7C;
    border-top-color: #444;
}

/*
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */

h2 a { color: #F3E6D0; }
h2 a:hover { color: #FFF; text-decoration: none; }
h2 a:active { color: #00C0FF; }

h3 a:hover { text-decoration: none; }

/* Post body styles
----------------------------------------*/


/* Round cornered boxes and backgrounds
---------------------------------------- */

.wrap {
    background-color: transparent;
    border-color: #E6E9ED;
}

.forumbg {
    background: transparent none repeat-x 0 0;
}

.forabg {
    background: transparent none repeat-x 0 0;
}

.navbar {
    background-color: #CADCEB;
}

.panel {
    color: #CADCEB;
}

.bg1	{
    background: rgba(49, 49, 49, 0.75);
}

.bg2	{
    background: rgba(27, 27, 27, 0.75);
}

.postbody h3 {
    font-size: 1.2em;
}

.postbody h3.first {
    font-size: 1.3em;
}

.post:target h3 a {
    color: #FFF;
}

.post:target .content {
    color: #DDD;
}

.post .postbody h3,
.post p.author {
    margin-left: 10px !important; /* TODO check */
}
/* Horizontal lists
----------------------------------------*/

ul.navlinks {
    border-top-color: transparent;
}


/* Table styles
----------------------------------------*/

table.table1 tbody th {
    background: #101010;
    border-bottom: 1px solid #000000;
    color: #CCC;
}

table.table1 thead tr {
    background: #101010;
    border: 1px solid #252525;
}

table.table1 tbody tr {
    border-color: #161616;
}

table.table1 tbody tr.bg1,
table.zebra-list tbody tr:nth-child(even) {
    background: #252525;
    background: #252525 linear-gradient(to bottom, rgba(30, 30, 30, 1) 0, rgba(37, 37, 37, 0) 35px);
    border-color: #252525;
}

table.table1 tbody tr.bg2,
table.zebra-list tbody tr:nth-child(odd) {
    background: #161616;
    background: #161616 linear-gradient(to bottom, rgba(11, 11, 11, 1) 0, rgba(22, 22, 22, 0) 35px);
    border-color: #161616;
}

table.table1 tbody tr.bg3 {
    background: #101010;
    background: #101010 linear-gradient(to bottom, rgba(11, 11, 11, 1) 0, rgba(22, 22, 22, 0) 35px);
    border-color: #101010;
}

table.table1 tbody tr.bg1:hover,
table.table1 tbody tr.bg1.hover,
table.zebra-list tbody tr:nth-child(even):hover {
    background: #252525 linear-gradient(to top, rgba(30, 30, 30, 1) 0, rgba(37, 37, 37, 0) 35px);
}

table.table1 tbody tr.bg2:hover,
table.table1 tbody tr.bg2.hover,
table.zebra-list tbody tr:nth-child(odd):hover {
    background: #161616 linear-gradient(to top, rgba(11, 11, 11, 1) 0, rgba(22, 22, 22, 0) 35px);
}

table.table1 tbody tr.bg3:hover,
table.table1 tbody tr.bg3.hover {
    background: #101010 linear-gradient(to top, rgba(11, 11, 11, 1) 0, rgba(22, 22, 22, 0) 35px);
}

table.table1 tbody tr:hover td,
table.table1 tbody tr.hover td {
    color: #FFF;
}

table.table1 td {
    color: #bfbfbf;
}

/* Specific column styles */
table.table1 tbody .big-column td {
    color: #FFF;
}

table.info tbody th {
    color: #FFF;
}

.panel-container table.table1 thead th {
    color: #FFF;
}





/* Misc layout styles
---------------------------------------- */

/* Icon styles
---------------------------------------- */

/* Miscellaneous styles
---------------------------------------- */

/*
--------------------------------------------------------------
Colours and backgrounds for content.css
-------------------------------------------------------------- */

/* Post body styles
----------------------------------------*/

/* Content container styles
----------------------------------------*/
.content {
	color: #CCC;  /* POST CONTENT */
}

.content h2, .panel h2 {
    color: #00C0FF;
    border-bottom: 1px solid #666;
}

dl.faq dt {
	color: #333333;
}

.posthilit {
	background-color: #F3BFCC;
	color: #BC2A4D;
}

.announce, .unreadpost {
	/* Highlight the announcements & unread posts box */
}

/* Post signature */
.signature {
	border-top-color: #CCCCCC;
}

/* Post noticies */
.notice {
	border-top-color:  #CCCCCC;
}

/* BB Code styles
----------------------------------------*/

/* Quote block */
blockquote {
    background-color: rgba(10, 10, 10, 0.2);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0) 30%);
    border-color: #575757;
    color: #CCCCCC;
    padding: 6px 10px 10px 10px;
    position: relative;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.4);
}

blockquote:before, blockquote:after {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em;
    position: absolute;
    opacity: 0.3;
}

blockquote:before {
    content: "\f10d";
    left: 3px;
    top: 2px;
}

blockquote:after {
    content: "\f10e";
    right: 3px;
    bottom: 2px;
}

.signature, .notice {
    border-top-color: #555;
    padding: 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Code block */
.codebox {
    background-color: rgba(10, 10, 10, 0.3);
    border-color: #575757;
    text-shadow: none;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
}

.codebox p {
    border-bottom-color: #575757;
}

.codebox code {
    color: #4A7;
    text-align: left;
    max-height: 400px;
}

.syntaxbg { color: #555; }
.syntaxcomment { color: #F0C674; }
.syntaxdefault { color: #81A2BE; }
.syntaxhtml { color: #AAA; }
.syntaxkeyword { color: #B5BD68; }
.syntaxstring { color: #C66; }

code.inline {
    background-color: rgba(10, 10, 10, 0.3);
    border: 1px solid rgba(88, 88, 88, 0.7);
    border-radius: 2px;
    color: #4A7;
    display: inline;
    font-family: Monaco, 'Andale Mono', 'Courier New', Courier, monospace;
    font-size: 0.9em;
    font-style: normal;
    line-height: 1.3em;
    padding: 0 3px;
}

/* Attachments
----------------------------------------*/
.attachbox {
    background-color: rgba(10, 10, 10, 0.3);
    border-color: #7C7C7C;
    margin: 10px;
}

.attachbox dd {
    border-top-color: #575757;
}

.attachbox p {
    /*color: #999;*/
}

.attachbox p.stats {
    /*color: #999;*/
}

.pm-message .attachbox {
    background-color: #333;
}

.attach-image img {
    border-color: #444;
}

/* Inline image thumbnails */

.inline-attachment {
    /* TODO */
}

dl.file dd {
    color: #999;
}

dl.details dt {
    color: #DDD;
}

dl.details dd {
    color: #AAA;
}

dl.faq dt {
    color: #FFF;
}

dl.thumbnail img,
.content a > img.postimage {
    background-color: rgba(0, 0, 0, 0.4);
    /*border: 1px solid #372511 !important;*/
    border: 1px solid #666 !important; /* !important for lightbox script */
    border-radius: 5px !important; /* !important for lightbox script */
    box-shadow: 0 0 6px #000000;
    padding: 0;
    transition: border 0.25s ease-out 0s;
}

dl.thumbnail dt a:hover {
    background-color: #222222;
}

dl.thumbnail dt a:hover img,
.content a > img.postimage:hover {
    border: 1px solid #CD9000 !important; /* !important for lightbox script */
}

/* Post poll styles
----------------------------------------*/

/* Poster profile block
----------------------------------------*/

.posthilit {
    background-color: #CCC;
    color: #000;
    text-shadow: none;
}

/*
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */

/* Pagination
---------------------------------------- */


/* Search box
--------------------------------------------- */

.search-box .inputbox {
    border-color: #5d5d5d;
}

.search-header {
    box-shadow: none;
}


/* Icon images
---------------------------------------- */

/*
--------------------------------------------------------------
Colours and backgrounds for cp.css
-------------------------------------------------------------- */

/* Main CP box
----------------------------------------*/

.panel-container .panel li.header dd, .panel-container .panel li.header dt {
    color: #FFFFFF;
}


/* CP tabbed menu
----------------------------------------*/
.tabs .activetab > a,
.tabs .activetab > a:hover {
    box-shadow: none;
}

/* Mini tabbed menu used in MCP
----------------------------------------*/

/* Responsive tabs
----------------------------------------*/

/* UCP navigation menu
----------------------------------------*/

/* Preferences pane layout
----------------------------------------*/
.panel-container .panel {
    background: #212121;
    background: rgba(40, 40, 40, 0.7) linear-gradient(to top, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0) 46px);
}

/* PM Styles
----------------------------------------*/

/*
--------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */

/* General form styles
----------------------------------------*/

/* Definition list layout for forms
---------------------------------------- */

/* Posting page styles
----------------------------------------*/

/* Input field styles
---------------------------------------- */

/* Form button styles
---------------------------------------- */

a.button1, input.button1, input.button3, a.button2, input.button2 {
	color: #DDDDDD;
    background-color: #1A1A1A; /* Old browsers */ /* FF3.6+ */
    background-image: -webkit-linear-gradient(top, #3A3A3A 0%, #1A1A1A 100%);
    background-image: linear-gradient(to bottom, #3A3A3A 0%,#1A1A1A 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3A3A3A', endColorstr='#1A1A1A',GradientType=0 ); /* IE6-9 */
}

a.button1, input.button1 {
	border-color: #666666;
}

input.button3 {
	background-image: none;
}

/* Alternative button */
a.button2, input.button2, input.button3 {
	border-color: #666666;
}

/* <a> button in the style of the form buttons */
a.button1, a.button2 {
	color: #000000;
}

/* Hover states */
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover {
	border-color: #D31141;
    color: #FFF;
    background-color: #1A1A1A; /* Old browsers */ /* FF3.6+ */
    background-image: -webkit-linear-gradient(top, #3A3A3A 0%, #1A1A1A 100%);
    background-image: linear-gradient(to bottom, #3A3A3A 0%,#1A1A1A 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3A3A3A', endColorstr='#1A1A1A',GradientType=0 ); /* IE6-9 */
}

/* Focus states */
input.button1:focus, input.button2:focus, input.button3:focus {
	border-color: #11A3EA;
	color: #0F4987;
}

input.disabled {
	color: #666666;
}

/* jQuery popups
---------------------------------------- */

/* Notifications
---------------------------------------- */

